<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="https://nickcartergv.github.io/personal-website/">Home</a></li>
		        	<li><a href="https://nickcartergv.github.io/personal-website/about/index.html">About</a></li>
					<li><a href="https://nickcartergv.github.io/personal-website/641project/index.html">CIS 641 Semester Project Information</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
				{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://www.linkedin.com/in/nicholascartergv/">LinkedIn</a></li>
					<li><a href="https://i-need-this-to-fork-the-repo-again.github.io/GVSU-CIS641-ElectricSpaghetti/">CIS 641 Project Page</a></li>
				</ul>
			</footer>
		</body>
	</html>